*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    font-family: 'Inter';
}

main {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Jacques Francois";
    font-size: 1.8rem;
    color: #FFF;
    font-weight: 100;
}

h2 {
    font-family: 'Inter';
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 48px 0 16px 0;
}

h3 {
    font-family: "Jacques Francois";
    font-size: 6.4rem;
    color: #FFF;
    font-weight: 100;
}

select {
    background-color: #222222;
}


/* GLOBAL CLASSES */

.flex-row-wrapper {
    display: flex;
    flex-direction: row;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.space-around {
    justify-content: space-around;
    width: 100%;
}

.new-task-form {
    width: 100%;
}